* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
}

body {
  margin-left: 60px;
}

img {
  max-width: 400px;
}

.padding5 {
  padding: 5px;
}

.right {
  margin-left: 45px;
}

.bold {
  font-weight: bold;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}
