* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.gap3 {
  gap: 79px;
}

.gap2 {
  gap: 21px;
}

.pale {
  background: #f9f7e8;
}

header {
  height: 88px;
  padding-top: 28px;
  justify-content: center;
}

.red {
  background: #d52047;
}

.white {
  color: white;
}

main section h2 {
  height: 486px;
  padding-top: 198px;
}

.text-align {
  text-align: center;
}

#phrase {
  background: #eff8f6;
}

.auto {
  margin: auto;
}

img {
  max-width: 200%;
}

.relative {
  position: relative;
}

.some {
  height: 100px;
  left: 30px;
  padding-top: 60px;
}

.pad {
  padding: 165px;
}

#backgrund {
  background-color: #e5e5e5;
}
